@import './clear.css'
@import url('https://fonts.googleapis.com/css?family=Oswald')

body
  background: #ece7e7
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.is--hide
  display: none

.main
  width: 1024px
  margin: 0 auto

.app__enter
  width: 247px
  margin: 0 auto
  margin-top: 110px
  margin-bottom: 20px
  padding-top: 78px
  background: #fff

.inputs-filds
  padding-left: 39px

  .app__title
    margin-bottom: 47px
    font-family: 'Oswald', sans-serif

  .inputs-book
    width: 100%
    input
      width: 100%
      display: block
      border: none
      border-bottom: 1px solid #bbdddb

.add-book
  background: #577ca1
  color: #fff
  display: inline-block
  width: 100%
  text-align: center
  padding: 5px 0
  cursor: pointer


.img-load-preview
  margin-top: 20px
  border: 2px dashed #0087F7
  border-radius: 5px
  background: white
  padding: 30px 36px
  text-align: center
  position: relative
  overflow: hidden
  cursor: pointer

.img-load-preview.is--hover
  border-style: solid
  .dz-message
    opacity: 0.5

.add-file-input
  display: none


.imgPreview
    overflow: hidden
    margin: 0 auto
    cursor: default
    &:hover
      img
        filter: blur(8px)
      .imgPreview__info
        display: block

.imgPreview__info
  color: #fff
  display: none
  position: absolute
  top: 15px
  left: 0
  right: 0
  margin: 0 auto
  z-index: 50

.imgPreview.is--checked
    height: 126px
    width: 147px
    transform: scale(1.05, 1.05)

.img-checking
  position: absolute
  visibility: hidden

.btn-add-book
  background: #1f908a
  color: #fff
  border: none
  padding: 18px 30px
  margin-top: 49px
  cursor: pointer
  &:hover
    background: #37bab3

.dz-info
  position: absolute
  top: 50%
  left: 0
  right: 0
  margin: 0 auto
  margin-top: -25px
  z-index: 25
  padding: 10px
  background: #fff
  opacity: 0
  transform: translateY(-320%)
  transition: all .8s linear
  color: #fff

.dz-success
  opacity: 1
  transform: translateY(0)
  background: #62c7ee

.dz-error
  opacity: 1
  transform: translateY(0)
  background: #FF3635

.book-list
  background: #fff
  padding: 15px 6px
  padding-bottom: 50px
  border: 1px solid #000
  margin-bottom: 20px
  position: relative

.book-item
  float: left
  margin: 5px 14px
  position: relative
  border: 2px solid transparent
  &:hover
    .book-item__btn
      display: block

.book-item--selected
    border: 2px solid #0087F7
  
.book-item__data
  position: relative
 
.book-item__info
  position: absolute
  top: 0
  right: 0
  left: 0
  width: 100%
  padding: 5px
  background: rgba(0, 0, 0, 0.42)
  color: #fff
  text-align: center

.book-item__img
  display: block
  height: 100%

.book-item__btn
  width: 20px
  height: 20px
  position: absolute
  top: -10px
  cursor: pointer
  display: none
  z-index: 15
  transition: transform 0.5s linear
  &:hover
    transform: scale(1.2)

.delete-btn
  background: url('../img/error.svg') no-repeat
  right: -5px

.change-btn
  background: url('../img/pencil.svg') no-repeat
  left: -5px

.btn-save-list
	position: absolute
	bottom: 10px
	right: 20px
	border: none
	background: #1f908a
	color: #fff
	cursor: pointer
	padding: 10px
	&:hover
		background: #37bab3

.change-book
  .add-book-form
    transform: translate3d(0, 0, 0)

